{% if user.is_authenticated %}

<nav id="links_on_top">
    <a href="http://shockwave:8000/api/users/{{ user.pk }}/" class="link_on_top_about">
        <svg viewBox="0 0 512 512" class="ionicon sxng-icon-set-big" aria-hidden="true">
            <path d="M402 168c-2.93 40.67-33.1 72-66 72s-63.12-31.32-66-72c-3-42.31 26.37-72 66-72s69 30.46 66 72" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32px"/>
            <path d="M336 304c-65.17 0-127.84 32.37-143.54 95.41-2.08 8.34 3.15 16.59 11.72 16.59h263.65c8.57 0 13.77-8.25 11.72-16.59C463.85 335.36 401.18 304 336 304Z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32px"/>
        </svg>
        <span>{{ user.username }}</span>
    </a>
</nav>

{% endif %}